################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/tbOOPCarSolution/tbOOPCarSolution.sln
/tbOOPCarSolution/tbOOPCarSolution/tbOOPCarSolution.csproj
/tbOOPCarSolution/tbOOPCarSolution/Properties
/tbOOPCarSolution/tbOOPCarSolution/obj/Debug
/tbOOPCarSolution/tbOOPCarSolution/bin/Debug
/tbOOPCarSolution/tbOOPCarSolution/App.config
/tbOOPCarSolution/.vs/tbOOPCarSolution/v16/.suo
/tbOOPCarSolution/.vs/tbOOPCarSolution/v16
/tbWPFPrototype/tbWPFPrototype.sln
/tbWPFPrototype/.vs/tbWPFPrototype/v16
/tbWPFPrototype/tbWPFPrototype/bin/Debug
/tbWPFPrototype/tbWPFPrototype/obj/Debug
/tbWPFPrototype/tbWPFPrototype/Properties
*.csproj
*.config
/tbWPFPrototype/tbWPFPrototype/App.xaml
/tbWPFPrototype/tbWPFPrototype/App.xaml.cs
/tbSimpleInheritance/tbSimpleInheritance/bin/Debug
/tbSimpleInheritance/.vs/tbSimpleInheritance/v16
/tbSimpleInheritance/tbSimpleInheritance/obj/Debug
/tbSimpleInheritance/tbSimpleInheritance/Properties
/tbSimpleInheritance/tbSimpleInheritance.sln
/tbAnimal/.vs/tbAnimal/v16/.suo
/tbAnimal/tbAnimal/bin/Debug/tbAnimal.exe
/tbAnimal/tbAnimal/bin/Debug/tbAnimal.pdb
/tbAnimal/tbAnimal/obj/Debug
/tbAnimal/tbAnimal/Properties
/tbAnimal/tbAnimal.sln
/tbAnimal/tbAnimal
/tbAssignmentProg1
/tbAssociation/.vs/tbAssociation/v16
/tbAssociation/tbAssociation/bin/Debug
/tbAssociation/tbAssociation/obj/Debug
/tbAssociation/tbAssociation/Properties
/tbAssociation/tbAssociation.sln
